@model Casgem_CodeFirstProject.DAL.Entities.About

<section class="w3l-content-with-photo-4" id="about">
    <div class="content-with-photo4-block editContent">
        <div class="container">

            <div class="my-bio">
                <img src="@ViewBag.imageUrl1" alt="product" class="img-responsive about-me">
                <h3 class="mt-lg-4 mt-3">@ViewBag.title1</h3>
                <p class="para mb-3">@ViewBag.description1</p>
            </div>

        </div>
    </div>
    </div>
</section>
<section class="w3l-stats">
    <div class="main-w3 ">
        <div class="container">
            <div class="right-side">
                <h3 class="title-big">@ViewBag.title2</h3>
                <p class="mt-4 para">
                    @ViewBag.description2
                </p>
            </div>
        </div>
    </div>
</section>
<section class="w3l-recent-work">
    <div class="jst-two-col">
        <div class="container">
            <div class="row">
                <div class="my-bio cwp4-text col-lg-6">
                    <h3>@ViewBag.title3</h3>
                    <p class="para mt-3 mb-lg-4 ">@ViewBag.description3</p>
                    <a href="~/About/Index" class="action-button btn mt-4">Read more <span class="fa fa-angle-double-right"></span></a>
                </div>
                <div class="col-lg-6 ">
                    <img src="~/Templates/go-trip-starter/assets/images/b4.jpg" alt="product" class="img-responsive about-me">
                </div>
            </div>
        </div>
    </div>
</section>
