
@{
    Layout = null;
}


<!--
   Author: W3layouts
   Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
@Html.Action("PartialHead")
<body id="home">
    @Html.Action("PartialNavbar")
    
    @Html.Action("PartialSliderScript")

    @Html.Action("PartialSlider")

    @Html.Action("PartialBooking")

    @Html.Action("PartialFeature")

    @Html.Action("PartialDestinations")

    @Html.Action("PartialAbout")

    @Html.Action("PartialBookingCover")

    @Html.Action("PartialFooter")

    @Html.Action("PartialMainScript")
</body>
</html>
